<!DOCTYPE html>
<html>
<head>
  <title>Shoppy cartus</title>
  <%= stylesheet_link_tag    "shoppy_cartus/application", media: "all" %>
  <%= javascript_include_tag "shoppy_cartus/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
